@inject HttpClient Http
@page "/"
@using MudBlazor.Utilities



<PageHeader>MudBlazor.Extensions</PageHeader>


@*<div class="mud-ex-split-panel">
    <div id="first"></div>
    <MudExSplitter Vertical="true" FlexItem="true" />
    <div id="second"></div>
</div>

<MudPaper Square="true" Class="d-flex justify-space-around">
    <MudIconButton Icon="@Icons.Material.Filled.FormatAlignRight" Color="Color.Dark" Class="rounded-0" />
    <MudIconButton Icon="@Icons.Material.Filled.FormatAlignCenter" Color="Color.Dark" Class="rounded-0" />
    <MudIconButton Icon="@Icons.Material.Filled.FormatAlignLeft" Color="Color.Dark" Class="rounded-0" />

    <MudExSplitter Vertical="true" FlexItem="true" />
    
    <MudIconButton Icon="@Icons.Material.Filled.FormatBold" Color="Color.Dark" Class="rounded-0" />
    <MudIconButton Icon="@Icons.Material.Filled.FormatItalic" Color="Color.Dark" Class="rounded-0" />
    <MudIconButton Icon="@Icons.Material.Filled.FormatUnderlined" Color="Color.Dark" Class="rounded-0" />
</MudPaper>*@





<MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Warning" Icon="@Icons.Material.Filled.Star">
    <MudButton Size="Size.Small" EndIcon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/fgilde/MudBlazor.Extensions" Target="_blank">
        If you like MudBlazor.Extensions please give a Star
    </MudButton>
</MudAlert>

<MudMarkdown Value="@Value" />


@code
{
    private MudColor _color = new MudColor(255, 123, 0, 0.5);
    protected override async Task OnInitializedAsync()
    {
        Value = await Http.GetStringAsync("https://raw.githubusercontent.com/fgilde/MudBlazor.Extensions/main/README.md");
    }
    private string Value { get; set; }
}