@page "/file-display"
@inject IDialogService dialogService
@inject NavigationManager NavigationManager

@attribute [Demo(Group = "File Handling", Name = "File Display", Order = 0, Documentation = "See how to use MudExFileDisplay to display file contents. Also a demonstration how to implement the interface IMudExFileDisplay to provide own components for specific file types.", Icon = Icons.Material.Outlined.FolderZip, ForComponentTypes = new[] { typeof(MudExFileDisplay) })]

<DemoComponent PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "Shared/MySimpleJsonDisplay.razor"})">
    <MudSelect Label="File" HelperText="Select sample file (See weather.json to check how own components for files can be created)" @bind-Value="@SampleFile" Variant="Variant.Outlined" Color="Color.Primary">
        <MudSelectItem Value="@(Sample("ARar.rar", "application/x-rar-compressed"))">ARar.rar</MudSelectItem>
        <MudSelectItem Value="@(Sample("sample.zip", "application/zip"))">sample.zip</MudSelectItem>
        <MudSelectItem Value="@(Sample("sample.pdf", "application/pdf"))">sample.pdf</MudSelectItem>
        <MudSelectItem Value="@(Sample("weather.json", "text/plain"))">weather.json</MudSelectItem>
        <MudSelectItem Value="@(Sample("logo.png", "image/png"))">logo.png</MudSelectItem>
        <MudSelectItem Value="@(Sample("readme.md", "text/markdown"))">readme.md</MudSelectItem>
    </MudSelect>

    @if (SampleFile.url != null)
    {
        <div style="width: 100%; height: 800px; margin-top: 20px">
            <MudExFileDisplay HandleContentErrorFunc="@HandleContentError"
                          FileName="@SampleFile.name" Url="@SampleFile.url" ContentType="@SampleFile.contentType"></MudExFileDisplay>
        </div>
        <MudButton OnClick="@OpenAsDialog" Variant="Variant.Filled" Color="Color.Primary">Show As Dialog</MudButton>
    }
</DemoComponent>


@code {
    private string url;
    private async Task OpenAsDialog()
    {
        await dialogService.ShowFileDisplayDialog(SampleFile.url, SampleFile.name, SampleFile.contentType, HandleContentError);
    }

    private Task<MudExFileDisplayContentErrorResult> HandleContentError(IMudExFileDisplayInfos arg)
    {
        if (arg.ContentType.Contains("word"))
        {
            return Task.FromResult(MudExFileDisplayContentErrorResult
                .RedirectTo("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiZiqnBKWS8NHcKbRH04UkYjrCgxUMz6sVNw&usqp=CAU", "image/png")
                .WithMessage("No word plugin found we display a sheep"));
        }
        return Task.FromResult(MudExFileDisplayContentErrorResult.Unhandled);
    }

    private (string? url, string contentType, string name) Sample(string filename, string contentType)
    {
        return (NavigationManager.ToAbsoluteUri($"sample-data/{filename}").AbsoluteUri, contentType, filename);
    }

    public (string? url, string contentType, string name) SampleFile { get; set; }

}