@page "/test"
@using MudBlazor.Extensions.Helper
@using MudBlazor.Extensions.Options

<DemoComponent PageType="@GetType()">
        <MudGrid Style="width: 100%" Justify="Justify.Center">
        <MudItem xs="12">
            <MudAlert><p> This demo uses the IDialogEventService to check resize or dragged and stores the latest position and size as relative values and restore them on next open </p></MudAlert>
            
            <MudExSelect T="string" >
                <MudExSelectItem T="string">test</MudExSelectItem>
                <MudExSelectItem T="string">test 2</MudExSelectItem>
            </MudExSelect>
            

        </MudItem>
        <MudItem xs="3" Class="mb-4">
            <MudButton Class="m-4" OnClick="@ShowSampleDialog" Variant="Variant.Filled" Color="Color.Primary">Show Sample Dialog</MudButton>
        </MudItem>
        </MudGrid>    
        
        <MudExSelect Label="Moin moin" T="string" ItemCollection="@(new List<string>() {"Test 1", "Test 2"})" Variant="Variant.Outlined"></MudExSelect>
            
        <MudTextField T="string" Variant="Variant.Outlined"></MudTextField>
        <MudExTextField T="string" Variant="Variant.Outlined"></MudExTextField>
        
        <MudSelect Variant="Variant.Outlined"
                   T="string"
                   Label="Original">
            <MudSelectItem Value="@("Item1")">@("Item1")"</MudSelectItem>
            <MudSelectItem Value="@("Item2")">@("Item2")"</MudSelectItem>
            <MudSelectItem Value="@("Item3")">@("Item3")"</MudSelectItem>

        </MudSelect>

        @((MarkupString)_svg)
</DemoComponent>

@code {

    [Inject]
    MudExStyleBuilder _styleBuilder { get; set; }
    private string _svg = string.Empty;
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private Task ShowSampleDialog()
    {
        DialogOptionsEx dlgOptions = new()
            {
                MaximizeButton = true,
                CloseButton = true,
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                Resizeable = true,
                DragMode = MudDialogDragMode.Simple,
                DisableSizeMarginY = true,
                DisablePositionMargin = true
            };
        return DialogService.ShowExAsync<SampleTabDialog>("Simple Dialog", dlgOptions);
    }

}