@page "/MudExTreeViewCardGrid"
@inherits BasePage


@attribute [Demo(Name = "Card Grid", Order = 5, Group = "TreeView", Icon = Icons.Material.Outlined.AddCard, Documentation = "Displays a tree structure as navigable card grid", ForComponentType = typeof(MudExTreeViewCardGrid<>))]

<DemoComponent DocFiles="@(new [] {"Docs/MudExTreeViewBreadcrumb.md"})" PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "SampleTreeStructure.cs"})">
    
    <SplitContainer>
        <Left>
            <div style="width: 100%; max-height:100%;">
                <p>@($"{L["Selected Node"]}: {_selectedNode?.Name}")</p>
                <MudExTreeViewCardGrid @bind-SelectedNode="_selectedNode"
                                       @ref="component"
                                       HoverMode="MudExCardHoverMode.CardEffect3d | MudExCardHoverMode.LightBulb"
                                         Items="@Entries">

                </MudExTreeViewCardGrid>
            </div>
        </Left>
        <Right>
            <ComponentPropertyGrid ShowInherited="true" Value="@component"></ComponentPropertyGrid>
        </Right>
    </SplitContainer>

</DemoComponent>


@code {
    MudExTreeViewCardGrid<SampleTreeItem> component;
    private SampleTreeItem _selectedNode;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }


}