@page "/MudExTreeViewBreadcrumb"
@inherits BasePage


@attribute [Demo(IsPlaygroundDemo = true, Name = "Breadcrumb", Group = "TreeView", Icon = Icons.Material.Outlined.Menu, Documentation = "Displays a tree structure as navigable Breadcrumb", ForComponentType = typeof(MudExTreeViewBreadcrumb<>))]

<DemoComponent DocFiles="@(new [] {"Docs/MudExTreeViewBreadcrumb.md"})" PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "SampleTreeStructure.cs"})">
    
    <SplitContainer>
        <Left>
            <div style="width: 100%">
                <p>@($"{L["Selected Node"]}: {_selectedNode?.Name}")</p>
                <MudExTreeViewBreadcrumb @bind-SelectedNode="_selectedNode"
                                         @ref="component"
                                         Items="@Entries">

                </MudExTreeViewBreadcrumb>
            </div>
        </Left>
        <Right>
            <ComponentPropertyGrid ShowInherited="true" Value="@component"></ComponentPropertyGrid>
        </Right>
    </SplitContainer>

</DemoComponent>


@code {
    MudExTreeViewBreadcrumb<SampleTreeItem> component;
    private SampleTreeItem _selectedNode;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }


}