@page "/file-display"
@inherits BasePage
@using System.Web
@using MudBlazor.Extensions.Options
@inject SampleDataService sampleDataService

@attribute [Demo(IsPlaygroundDemo = true, Group = "File Handling", Name = "File Display", Order = 0, Documentation = "See how to use MudExFileDisplay to display file contents. Also a demonstration how to implement the interface IMudExFileDisplay to provide own components for specific file types.", Icon = Icons.Material.Outlined.FolderZip, ForComponentTypes = new[] { typeof(MudExFileDisplay) })]

<DemoComponent PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "Shared/MySimpleJsonDisplay.razor", "SampleDataService.cs"})">

    <MudExSelect T="SampleFile" ValuePresenter="ValuePresenter.ItemContent" HelperText="@L["Select sample file (See weather.json to check how own components for files can be created)"]" ItemCollection="@_samples" Variant="Variant.Outlined" ToStringFunc="@(f => f?.Name ?? "...")" @bind-Value="SampleFile">
        <ItemTemplate>
            <div class="file-combo-item">
                <MudExIcon Color="@context.Color" Icon="@context.Icon"></MudExIcon>
                <MudText>@context.Name</MudText>
                <MudText Class="file-combo-info-item" Typo="Typo.subtitle2">@context.ContentType</MudText>
            </div>
        </ItemTemplate>        
    </MudExSelect>

    @if (SampleFile?.Url != null)
    {
        <div style="width: 100%; height: 800px; margin-top: 20px">
            <MudExFileDisplay HandleContentErrorFunc="@HandleContentError"
                              ParametersForSubControls="@GetParams()"
                              StreamUrlHandling="StreamUrlHandling.BlobUrl"
                          ColorizeIcons="true"                                        
                          Dense="true"
                          FileName="@SampleFile.Name" Url="@SampleFile.Url" ContentType="@SampleFile.ContentType"></MudExFileDisplay>
        </div>
        <MudButton OnClick="@OpenAsDialog" Variant="Variant.Filled" Color="Color.Primary">@L["Show As Dialog"]</MudButton>
    }
</DemoComponent>


@code {
    private List<SampleFile> _samples = new ();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _samples.AddRange(sampleDataService.GetSampleFiles());
        if (MainLayout.Instance != null)
            MainLayout.Instance.ThemeChanged += InstanceOnThemeChanged;
        
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        if (!string.IsNullOrEmpty(queryParams["file"]))
        {
            var sampleFile = _samples.FirstOrDefault(s => s.Name.Equals(queryParams["file"], StringComparison.CurrentCultureIgnoreCase));
            if (sampleFile != null)
            {
                SampleFile = sampleFile;
            }
        }
    }

    private void InstanceOnThemeChanged(object? sender, MainLayout.ThemeChangedEventArgs e)
    {
        StateHasChanged();
    }

    private async Task OpenAsDialog()
    {
        await DialogService.ShowFileDisplayDialogAsync(SampleFile.Url, SampleFile.Name, SampleFile.ContentType, HandleContentError);
    }

    private Task<MudExFileDisplayContentErrorResult> HandleContentError(IMudExFileDisplayInfos arg)
    {
        if (arg.ContentType.Contains("word"))
        {
            return Task.FromResult(MudExFileDisplayContentErrorResult
                .RedirectTo("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiZiqnBKWS8NHcKbRH04UkYjrCgxUMz6sVNw&usqp=CAU", "image/png")
                .WithMessage(L["No word plugin found we display a sheep"]));
        }
        return Task.FromResult(MudExFileDisplayContentErrorResult.Unhandled);
    }


    public SampleFile SampleFile { get; set; }

    private IDictionary<string, object> GetParams()
    {
        return new Dictionary<string, object>
        {
            {nameof(MudExFileDisplayCode.Theme), GetTheme()},
            {nameof(MudExFileDisplayMarkdown.CodeBlockTheme), GetTheme()},
        };
    }

    private CodeBlockTheme GetTheme() => MainLayout.GetCodeBlockTheme();

}