@page "/range-slider-template"
@inherits BasePage

@using MainSample.WebAssembly.Examples.RangeSlider


@attribute [DemoNew(Name = "Templates", Order = 10, Group="RangeSlider", Documentation = "Custom Templates", ForComponentTypes = new[] { typeof(MudExRangeSlider<>) })]


<MudExDemoPage>

    
    <MudExDemoBox Title="Custom templates for a timeline-style range slider for a timeline-style range slider"
                  NavTitle="Custom templates timeline"
                  Order="10"
                  FeaturesTitle="Configuration"
                  Features="@(new[]
                            {
                                "ThumbStartTemplate",
                                "ThumbEndTemplate",
                                "SelectionTemplate",
                                "TrackTemplate"
                            })">

        <DemoContent>
            <MudText Typo="Typo.body2" Class="mb-2">
                @L["This example shows how you can use custom templates to turn the MudExRangeSlider into a timeline-style control with year and month markers."]
            </MudText>
            <MudText Typo="Typo.body2" Class="mb-2">
                @L["The track is rendered with a custom TrackTemplate, the selected range with a SelectionTemplate, and the thumbs with custom ThumbStartTemplate and ThumbEndTemplate."]
            </MudText>
            <MudText Typo="Typo.body2" Class="mb-2">
                @L["You can use this technique to build rich time sliders and visual ranges that fit your domain exactly."]
            </MudText>
            <MudText Typo="Typo.body2" Class="mb-4">
                @L["If you only need a time slider and do not want to create your own templates, you can also use the dedicated {0} component instead.", (MarkupString)"<a href=\"/time-slider\">MudExTimeSlider</a>"]
            </MudText>
            <RangeSliderTemplateExample/>
        </DemoContent>
    </MudExDemoBox>

</MudExDemoPage>


