@page "/MudExTreeViewDefault"


@attribute [DemoUpdated(Name = "Default", Order = 1, Group = "TreeView", Icon = Icons.Material.Outlined.AccountTree, Documentation = "Displays a tree structure as simple tree", ForComponentType = typeof(MudExTreeViewDefault<>))]

<DemoComponent DocFiles="@(new [] {"Docs/MudExTreeViewDefault.md"})" PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "SampleTreeStructure.cs"})">
    
    <SplitContainer>
        <Left>
            <div style="width: 100%">
                <p>Selected: @_selectedNode?.Name</p>
                <MudExTreeViewDefault @bind-SelectedNode="_selectedNode"
                                         @ref="component"
                                         Items="@Entries">

                </MudExTreeViewDefault>
            </div>
        </Left>
        <Right>
            <ComponentPropertyGrid ShowInherited="true" Value="@component"></ComponentPropertyGrid>
        </Right>
    </SplitContainer>

</DemoComponent>


@code {
    MudExTreeViewDefault<SampleTreeItem> component;
    private SampleTreeItem _selectedNode;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }


}