@page "/MudExTreeViewHorizontal"


@attribute [Demo(Name = "Horizontal", Order = 2, Group = "TreeView", Icon = Icons.Material.Outlined.AccountTree, Documentation = "Displays a tree structure as horizontal navigable tree", ForComponentType = typeof(MudExTreeViewHorizontal<>))]

<DemoComponent DocFiles="@(new [] {"Docs/MudExTreeViewBreadcrumb.md"})" PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "SampleTreeStructure.cs"})">
    
    <SplitContainer>
        <Left>
            <div style="width: 100%">
                <p>Selected: @_selectedNode?.Name</p>
                <MudExTreeViewHorizontal @bind-SelectedNode="_selectedNode"
                                         @ref="component"
                                         Items="@Entries">

                </MudExTreeViewHorizontal>
            </div>
        </Left>
        <Right>
            <ComponentPropertyGrid ShowInherited="true" Value="@component"></ComponentPropertyGrid>
        </Right>
    </SplitContainer>

</DemoComponent>


@code {
    MudExTreeViewHorizontal<SampleTreeItem> component;
    private SampleTreeItem _selectedNode;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }


}