@page "/MudExTreeViewFlatList"


@attribute [DemoNew(Name = "Flat List", Order = 4, Group = "TreeView", Icon = Icons.Material.Outlined.List, Documentation = "Displays a tree structure as flat list", ForComponentType = typeof(MudExTreeViewFlatList<>))]

<DemoComponent DocFiles="@(new [] {"Docs/MudExTreeViewFlatList.md"})" PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "SampleTreeStructure.cs"})">
    
    <SplitContainer>
        <Left>
            <div style="width: 100%">
                <p>Selected: @_selectedNode?.Name</p>
                <MudExTreeViewFlatList @bind-SelectedNode="_selectedNode"
                                         @ref="component"
                                         Items="@Entries">

                </MudExTreeViewFlatList>
            </div>
        </Left>
        <Right>
            <ComponentPropertyGrid ShowInherited="true" Value="@component"></ComponentPropertyGrid>
        </Right>
    </SplitContainer>

</DemoComponent>


@code {
    MudExTreeViewFlatList<SampleTreeItem> component;
    private SampleTreeItem _selectedNode;
    public HashSet<SampleTreeItem> Entries { get; set; }

    protected override void OnInitialized()
    {
        Entries = SampleTreeStructure.GetItems();
    }


}