@page "/handle-file-as-streams"
@using MudBlazor.Extensions.Services
@inject IDialogService dialogService
@inject SampleDataService sampleDataService

@attribute [Demo(Group = "File Handling", Name = "File Display with Stream", Order = 0, Documentation = "See how to use MudExFileDisplay to display file contents. Also a demonstration how to implement the interface IMudExFileDisplay to provide own components for specific file types.", Icon = Icons.Material.Outlined.FolderZip, ForComponentTypes = new[] { typeof(MudExFileDisplay) })]

<DemoComponent PageType="@GetType()" CodeFiles="@(new [] {$"Pages/{GetType().Name}.razor", "Shared/MySimpleJsonDisplay.razor", "SampleDataService.cs"})">
    <MudSelect Label="File" HelperText="Select sample file (See weather.json to check how own components for files can be created)" @bind-Value="@SampleFile" Variant="Variant.Outlined" Color="Color.Primary">
        @foreach (var sample in _samples)
        {
            <MudSelectItem Value="@sample">@sample.name</MudSelectItem>

        }
    </MudSelect>

    @if (SampleFile.stream != null)
    {
        <div style="width: 100%; height: 800px; margin-top: 20px">
            <MudExFileDisplay HandleContentErrorFunc="@HandleContentError"
                          FileName="@SampleFile.name" ContentStream="@SampleFile.stream" ContentType="@SampleFile.contentType"></MudExFileDisplay>
        </div>
        <MudButton OnClick="@OpenAsDialog" Variant="Variant.Filled" Color="Color.Primary">Show As Dialog</MudButton>
    }
</DemoComponent>


@code {

    [Inject] private MudExFileService fileService { get; set; }
    private List<(Stream stream, string contentType, string name)> _samples = new ();

    protected override async Task OnInitializedAsync()
    {
        _samples.AddRange(await sampleDataService.GetSampleFilesWithStreamAsync());        
    }

    private string url;
    private async Task OpenAsDialog()
    {
        await dialogService.ShowFileDisplayDialog(SampleFile.stream, SampleFile.name, SampleFile.contentType, HandleContentError);
    }

    private Task<MudExFileDisplayContentErrorResult> HandleContentError(IMudExFileDisplayInfos arg)
    {
        if (arg.ContentType.Contains("word"))
        {
            return Task.FromResult(MudExFileDisplayContentErrorResult
                .RedirectTo("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiZiqnBKWS8NHcKbRH04UkYjrCgxUMz6sVNw&usqp=CAU", "image/png")
                .WithMessage("No word plugin found we display a sheep"));
        }
        return Task.FromResult(MudExFileDisplayContentErrorResult.Unhandled);
    }

    public (Stream stream, string contentType, string name) SampleFile { get; set; }
}