@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Disqus> L

<div id="@_id">
    <style id="styles">
        a {
            color: var(--mud-palette-primary);
        }
    </style>
    @if (!_loaded)
    {
        <MudCard Elevation="1" Class="m-1">
            <MudCardContent>
                <MudText Align="Align.Center" Typo="Typo.h6">@L["Disqus comments are disabled by default."]</MudText>
                <MudText Class="mb-1" Align="Align.Center" Typo="Typo.body2">@L["Click the button below to enable them and load the third party services from disqus.com"]</MudText>
                <MudGrid Class="mt-2" Justify="Justify.Center">
                    <MudItem>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="EnableDisqus">@L["Enable Disqus"]</MudButton><br/>
                    </MudItem>
                    <MudItem>
                        <MudSwitch Color="Color.Primary" Label="@L["Automatically allow next time"]" @bind-Value="@_rememberChoice"/>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    }
    else
    {
        <div id="disqus_thread"></div>
    }
</div>
