@using MudBlazor.Extensions.Helper
@using System.Runtime.InteropServices
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<InfoDialog> L
<MudDialog Class="@MudExCss.Classes.Dialog._Initial" ContentClass="">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-3 mb-n1" />
            Info
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex justify-center mt-4 mb-4">
            <MudExGradientText Animate="true"
                               Align="Align.Center" Typo="Typo.h4">
                               MudBlazor.Extensions @MudExResource.MudExVersion().ToString()
                               @if (MudExResource.IsDebugOrPreviewBuild)
                               {
                                    @((MarkupString)" (Preview)")
                               }                
            </MudExGradientText>
        </div>
        <Support></Support>
        
        <MudCard Class="m-4">
            <MudCardContent>
                <MudText Align="Align.Center" Typo="Typo.body1"><b>@L["Runtime"]</b> @($"{RuntimeInformation.FrameworkDescription} - {RuntimeInformation.ProcessArchitecture}")</MudText>
                <MudText Align="Align.Center" Typo="Typo.body1"><b>@L["App Type"]</b> @($"{(MudExResource.IsClientSide ? L["WebAssembly WASM"] : L["Server Side Rendered"])}")</MudText>
                <MudText Align="Align.Center" Typo="Typo.body1"><b>MudBlazor.Extensions</b> @MudExResource.MudExVersion().ToString()</MudText>
                <MudText Align="Align.Center" Typo="Typo.body1"><b>MudBlazor</b> @MudExResource.MudBlazorVersion().ToString()</MudText>
                
            </MudCardContent>
        </MudCard>
        
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@L["Support project"]</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Href="https://www.paypal.com/paypalme/fgilde/" Target="_blank" Icon="@Icons.Material.Filled.MonetizationOn" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@L["You don't need to, but you can support the project in some ways if you want."]</MudText>
                <MudText Typo="Typo.body2">@L["1. If you're a developer feel free to contribute"]</MudText>
                <MudText Typo="Typo.body2">@L["2. Report Issues, bugs or feature ideas"]</MudText>
                <MudText Typo="Typo.body2">@L["3. Donate or become a sponsor"]</MudText>
                <MudText Typo="Typo.body2">@L["4. Give a star on github"]</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Href="https://www.paypal.com/paypalme/fgilde/" Target="_blank" Color="Color.Warning">@L["Donate with PayPal"]</MudButton>
                <MudButton Variant="Variant.Text" Href="https://github.com/sponsors/fgilde" Target="_blank" Color="Color.Primary">@L["Sponsor at GitHub"]</MudButton>
                <MudButton Variant="Variant.Text" Href="https://github.com/fgilde/MudBlazor.Extensions" Target="_blank" Color="Color.Secondary">@L["Star the repository"]</MudButton>
            </MudCardActions>
        </MudCard>
        <MudButton Class="mt-2" Style="width: 100%" Variant="Variant.Text" Href="https://fgilde.github.io/MudBlazor.Extensions/" Target="_blank" Color="Color.Secondary">@L["Read the documentation"]</MudButton>

    </DialogContent>
    <DialogActions>
        <span class="copyright">
            @L["Created by"] <a href="https://github.com/fgilde">Florian Gilde </a> |
            <a href="https://www.gilde.org"> www.gilde.org </a>
        </span>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Close">@L["Close"]</MudButton>
    </DialogActions>
</MudDialog>
@code{

    

    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (MainLayout.Instance != null)
            MainLayout.Instance.LanguageChanged += (_, _) => InvokeAsync(StateHasChanged);
    }

    public void Close()
    {
        MudDialog.Close();
    }
}