@typeparam T
@inherits MudExTreeViewBase<T>
@namespace MudBlazor.Extensions.Components
@using MudBlazor.Extensions.Core
@using Nextended.Core.Types

<MudToolBar Class="@Class" Style="@StyleStr()" Dense="@Dense" WrapContent="@WrapToolBarContent">
    @if(ToolBarContent != null)
    {
        @ToolBarContent
    }
    @MenuFor(FilterManager.FilteredItems())
    @foreach (var item in Path())
    {
        <p>@ItemRender(item)</p>
        @MenuFor(item.Children)
    }
    <MudSpacer/>
    @RenderSearchBox()
</MudToolBar>

@code {
    private RenderFragment MenuFor(IEnumerable<T> items, bool isSubMenu = false)
    {
        var hierarchical = items as T[] ?? items?.ToArray() ?? Array.Empty<T>();
        return
        @<RenderChild Condition="@(hierarchical?.Any(i => FilterManager.GetMatchedSearch(i).Found) == true)">
            <MudMenu ActivationEvent="@(isSubMenu ? MouseEvent.MouseOver : MouseEvent.LeftClick)"
                     AnchorOrigin="@MenuAnchorOrigin"
                     TransformOrigin="@MenuTransformOrigin"
                     MaxHeight="@MenuMaxHeight"
                     Dense="@Dense"
                     EndIcon="@ExpandedIcon"
                     Icon="@(isSubMenu ? null : ExpandedIcon)">
            @foreach (var child in hierarchical)
            {
                var search = FilterManager.GetMatchedSearch(child);
                @if (search.Found)
                {
                    @ItemRender(child, search.Term, true)
                }
            }
            </MudMenu>
        </RenderChild>;
    }
    
    private RenderFragment ItemRender(T item, string search = "", bool asMenuItem = false)
    {
        var context = CreateContext(item, search, asMenuItem);
        if (ItemTemplate != null)
            return ItemTemplate(context);

        return IsSeparator(item) ? RenderSeparator() : RenderItem(context);
    }

    public override RenderFragment RenderItem(TreeViewItemContext<T> context)
    {
        return
        @<RenderChild>
            @if(context.Tag is true) {
                <MudMenuItem Class="@ItemClassStr(context)" Style="@ItemStyleStr(context)" Icon="@(context.Value.HasChildren() ? null : null)" OnClick="@(() => NodeClick(context.Value))">
                    @RenderItemContent(context, true)
                </MudMenuItem>
            } 
            else{
                <div class="@ItemClassStr(context)" style="@ItemStyleStr(context)" @onclick="() => NodeItemClick(context.Value)">
                    @RenderItemContent(context, true)
                </div>
            }
        </RenderChild>;
    }
}
