@typeparam T
@inherits MudExTreeViewBase<T>
@namespace MudBlazor.Extensions.Components

@using MudBlazor.Extensions.Options
@using Nextended.Core.Extensions
@using Nextended.Core.Types

@RenderSearchBar()

<MudList Style="@ListBoxStyleStr()" Dense="@Dense" Clickable="true">
    @{
        var root = false;
        HashSet<T> nodes = (SelectedNode != null ? (SelectedNode.Children?.Any() == true ? SelectedNode.Children : SelectedNode?.Parent?.Children) : null);
        if (nodes == null)
        {
            nodes = FilterManager.FilteredItems();
            root = true;
        }
    }
    @if (SelectedNode != null && !root)
    {
        var targetNode = CreateContext(SelectedNode.Children?.Any() == true ? SelectedNode.Parent : SelectedNode.Parent.Parent, "");
        <MudListItem Class="@ItemClassStr(targetNode)" Style="@ItemStyleStr(targetNode)" OnClick="@(() => { _animationDirection = AnimationDirection.In; NodeClick(targetNode.Item); })" Text="@TryLocalize(BackLinkLabel, targetNode != null ? TextFunc(targetNode.Item) : RootName)" Icon="@Icons.Material.Filled.ArrowBack" />
        <MudDivider/>
    }
    @foreach (var item in nodes.EmptyIfNull())
    {
        var search = FilterManager.GetMatchedSearch(item);
        if (search.Found)
        {
            @ItemRender(item, TreeViewMode.List, search.Term)
        }
    }
</MudList>

@code {
 
    private RenderFragment ItemRender(T item, TreeViewMode viewMode, string search = "")
    {
        var context = CreateContext(item, search);
        if (ItemTemplate != null)
            return ItemTemplate(context);

        return IsSeparator(item) ? RenderSeparator() : RenderItem(context);
    }

    public virtual RenderFragment RenderItem(TreeViewItemContext<T> context)
    {
        return
        @<MudListItem Style="@ItemStyleStr(context)" Class="@ItemClassStr(context)" OnClick="@(() => NodeClick(context.Item))">
            <div class="@ListItemClassStr()">
                @RenderItemContent(context)
            @if(context.Item.HasChildren())
            {
                <MudExIcon Icon="@ExpandedIcon" />
            }
            </div>
        </MudListItem>;
    }
}
