@typeparam T
@using MudBlazor.Extensions.Components.ObjectEdit
@using Nextended.Core.Types
@inherits MudExTreeViewBase<T>
@namespace MudBlazor.Extensions.Components


<div id="@_treeId" @onkeydown="KeyDown" @onwheel="OnWheel" tabindex="0" class="mud-ex-horizontal-tree-wrapper">
    @RenderSearchBar()
    <div class="mud-ex-horizontal-tree">
        <div style="@ScrollHorizontalTree(SelectedNode)" class="mud-ex-horizontal-tree-scroll-wrapper">
            @{
                var items = FilterManager.FilteredItems()?.Where(n => FilterManager.GetMatchedSearch(n).Found).ToList() ?? new List<T>();
            }
            @NodeColumn(items, NodeOffset(items))
            @foreach (var node in Path().Where(n => FilterManager.GetMatchedSearch(n).Found))
            {
                @NodeColumn(node, NodeOffset(node))
            }
        </div>
    </div>
</div>


@code {

        private RenderFragment NodeColumn(T node, double top)
        {
            return NodeColumn(node?.Children?.Where(n => FilterManager.GetMatchedSearch(n).Found), top);
        }

        private RenderFragment NodeColumn(IEnumerable<T> nodes, double top)
        {
            return 
                @<RenderChild>
                       <div class="mud-ex-horizontal-tree-column">
                           @foreach (var child in nodes ?? Enumerable.Empty<T>())
                           {
                               var search = FilterManager.GetMatchedSearch(child);
                               @if (search.Found)
                               {
                                   <div class="@GetNodeClass(child)" style="@GetNodeStyle(child, top)" @onclick="() => NodeClick(child)">
                                       <div style="@ItemStyleStr(CreateContext(child, search.Term))">
                                           @ItemRender(child, TreeViewMode.Horizontal, search.Term)
                                       </div>
                                   </div>
                               }
                           }
                       </div>
                       @if (AllowColumnSizeChange)
                       {
                           <MudExSplitter Dragging="ColumnSizeChanged" DontApply="true" Opacity="0" HoverOpacity="0.4" Size="@LineWidth" Vertical="true"/>
                       }
                 </RenderChild>;
        }

    private RenderFragment ItemRender(T item, TreeViewMode viewMode, string search = "")
    {
        var context = CreateContext(item, search);
        if (ItemTemplate != null)
            return ItemTemplate(context);

        return IsSeparator(item) ? RenderSeparator() : RenderItem(context);
    }

    public virtual RenderFragment RenderItem(TreeViewItemContext<T> context)
    {
        return
        @<div class="@InnerItemClassStr()">
            @RenderItemContent(context)
            @if(context.Item.HasChildren())
            {
                <MudExIcon Icon="@ExpandedIcon" />
            }
        </div>;
    }
}

