@typeparam TItem
@using MudBlazor.Extensions.Components.ObjectEdit
@using Nextended.Core.Extensions
@using Nextended.Core.Types
@using YamlDotNet.Core.Tokens
@inherits MudExBaseComponent<MudExTreeViewBase<TItem>>
@namespace MudBlazor.Extensions.Components

@code
{
    public virtual RenderFragment RenderSeparator() => @<MudExDivider />;

    protected virtual RenderFragment RenderSearchBar()
    {
        return
        @<RenderChild Condition="@(FilterMode != PropertyFilterMode.Disabled)">
        <MudToolBar WrapContent="@WrapToolBarContent" Dense="@Dense" Class="@ToolBarClassStr()" Style="@ToolBarStyleStr()">
                @if (ToolBarContent != null)
                {
                    @ToolBarContent
                }
                <MudSpacer/>
                @RenderSearchBox()
            </MudToolBar>
        </RenderChild>;
    }

    protected virtual RenderFragment RenderSearchBox()
    {
        return @<RenderChild Condition="@(FilterMode != PropertyFilterMode.Disabled)">
                   <MudExToggleableSearch Placeholder="@FilterPlaceholder" ChipsRight="@FilterChipsPlacedRight" Style="@FilterBoxStyle" OnChipMouseOut="@OnFilterChipLeave" OnChipMouseOver="@OnFilterChipHover" Class="@GetFilterClassStr()" FilterMode="@FilterMode" ChipVariant="Variant.Text" MultiSearch="@FilterMultiple" @bind-Filters="Filters" @bind-Filter="Filter"></MudExToggleableSearch>
               </RenderChild>;
    }

    public RenderFragment RenderItemContent(TreeViewItemContext<TItem> context) => RenderItemContent(context, false);

    protected virtual RenderFragment RenderItemContent(TreeViewItemContext<TItem> context, bool checkTemplate)
    {
        if (checkTemplate && ItemContentTemplate != null)
            return ItemContentTemplate(context);
        var text = TextFunc(context.Value);
        return 
            @<RenderChild>
                @if (context.Value is IAsyncHierarchical<TItem> { IsLoading: true })
                {
                    <MudProgressCircular Class="m-1" Color="@Color.Primary" Size="@Size.Small" Indeterminate="true" />
                }
                else
                {
                    @if (!string.IsNullOrEmpty(context.Highlight))
                    {
                        <div style="@ItemContentStyleStr(context)" class="@ItemContentClassStr(context)">
                            <MudHighlighter Text="@text"
                                            HighlightedTexts="@(FilterHighlighting == FilterHighlighting.AllFilters ? Filters.EmptyIfNull().Concat(new[] { Filter }) : null)"
                                            HighlightedText="@context.Highlight"/>
                        </div>
                    }
                    else
                    {
                        <MudText Class="@ItemContentClassStr(context)" Style="@ItemContentStyleStr(context)">@TextFunc(context.Value)</MudText>
                    }
                }
            </RenderChild>;
    }
}
