@using Nextended.Core.Extensions
@inject NavigationManager _navigationManager;

<div>
    <MudNavMenu>
        <MudTreeView Items="@Entries">
            <ItemTemplate>
                <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Children">
                        <Content>
                            @if (HasAction(context))
                            {
                                <MudNavLink Href="@context.Href" Match="@(context.Href == "/" ? NavLinkMatch.All : NavLinkMatch.Prefix)" Target="@context.Target" Icon="@context.Icon">
                                    @context.Text
                                </MudNavLink>
                            }
                            else
                            {
                            @if (!context.Icon.IsNullOrWhiteSpace())
                                {
                                <MudIcon Icon="@context.Icon" Class="ml-0 mr-2" Color="@Color.Default" />
                                }
                                <MudListSubheader Class="@(CanExpand(context) ? "cursor-pointer" : "")" @onclick="() => OnExpandCollapseClick(context)">@context.Text</MudListSubheader>

                                <div class="apply-right">
                                    <MudTreeViewItemToggleButton Visible="CanExpand(context)" Expanded="context.IsExpanded" ExpandedChanged="() => OnExpandCollapseClick(context)" />
                                </div>
                            }
                    </Content>
                </MudTreeViewItem>
            </ItemTemplate>
        </MudTreeView>
    </MudNavMenu>

</div>
