@inherits MudExBaseComponent<CaptureInfoComponent>

<div>
    <p>
        @TryLocalize(InfoText): 
        @if (MaxRecordingTime is { TotalSeconds: > 0 })
        {
            if (ShowRemainingTimeOnly)
            {
                var remaining = MaxRecordingTime.Value - _elapsedTime;
                if (remaining < TimeSpan.Zero)
                {
                    remaining = TimeSpan.Zero;
                }
                @remaining.ToString(@"hh\:mm\:ss")
            }
            else
            {
                @_elapsedTime.ToString(@"hh\:mm\:ss")
                @(" / " + MaxRecordingTime.Value.ToString(@"hh\:mm\:ss"))
            }
        }
        else
        {
            @_elapsedTime.ToString(@"hh\:mm\:ss")
        }
    </p>
</div>