@using MudBlazor.Utilities
@using Nextended.Core.Extensions
@using System.Reflection
@inherits MudColorPicker
@implements IMudExComponent

@if (UseNativeBrowserControl || UseMudExColorBubble)
{
    <div>
        @if (UseNativeBrowserControl)
        {
            @if (UseColorPaletteInNativeBrowserControl)
            {
                <input class="@(PickerVariant != PickerVariant.Static ? "mud-ex-input-color-native" : "")" list="@presetId" type="color" @oninput="@NativeSelectionChange" @onchange="@NativeColorChange" value="@Value.ToString(MudColorOutputFormats.Hex)"/>

                <datalist id="@presetId">
                    @foreach (var preset in Palette)
                    {
                        <option value="@preset.ToString(MudColorOutputFormats.Hex)">@preset.ToString(MudColorOutputFormats.Hex)</option>
                    }
                </datalist>
            }
            else
            {
                <input class="@(PickerVariant != PickerVariant.Static ? "mud-ex-input-color-native" : "")" type="color" @oninput="@NativeSelectionChange" @onchange="@NativeColorChange" value="@Value.ToString(MudColorOutputFormats.Hex)"/>
            }
        }else if (UseMudExColorBubble)
        {

            <MudExColorBubble Class="@(PickerVariant != PickerVariant.Static ? "mud-ex-color-bubble-in-mud-ex-color-picker" : "")" @bind-Color="@Value"></MudExColorBubble>
        }

        @if (PickerVariant != PickerVariant.Static)
        {
            <MudTextField @bind-Value="@Value"
                          Variant="@Variant"
                          Class="@Class"
                          Style="@Style"
                          Converter="@ColorConverter"
                          Clearable="@Clearable"
                          For="@For"
                          Label="@Label"
                          Placeholder="@Placeholder"
                          Disabled="@Disabled"
                          ReadOnly="@ReadOnly"
                          HelperText="@HelperText">

            </MudTextField>
        }

    </div>
}
else
{
    @Inherited()
}