@inherits MudExJsRequiredBaseComponent<MudExRangeSlider<T>>
@using Nextended.Core.Helper
@typeparam T

<div @ref="ElementReference"
     class="mud-ex-range-slider @SizeClass @(Orientation.ToDescriptionString()) @Class"
     style="@Style"
     role="group"
     aria-roledescription="range"
     aria-disabled="@Disabled"
     aria-readonly="@ReadOnly">

    <div class="mud-ex-range-slider-track"
         @ref="_trackRef"
         style="@TrackStyle"
         @onpointerdown="OnTrackPointerDown">

        <div class="mud-ex-range-slider-selection"
             @onpointerdown="OnRangeDragPointerDown"></div>

        <button class="mud-ex-range-slider-thumb start"
                id="@_startId"
                type="button"
                @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.Start)"
                @onkeydown="e => OnKeyDownAsync(e, Thumb.Start)"
                role="slider"
                aria-valuemin="@SizeRangeStringStart"
                aria-valuemax="@SizeRangeStringEnd"
                aria-valuenow="@StartString"
                aria-labelledby="@AriaLabelledBy"
                disabled="@Disabled" />

        <button class="mud-ex-range-slider-thumb end"
                id="@_endId"
                type="button"
                @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.End)"
                @onkeydown="e => OnKeyDownAsync(e, Thumb.End)"
                role="slider"
                aria-valuemin="@SizeRangeStringStart"
                aria-valuemax="@SizeRangeStringEnd"
                aria-valuenow="@EndString"
                aria-labelledby="@AriaLabelledBy"
                disabled="@Disabled" />
    </div>

    @if (ShowInputs)
    {
        <div class="mud-ex-range-slider-inputs">
            <MudTextField T="T"
                          Value="@Value.Start"
                          ValueChanged="v => SetStartAsync(v, true)"
                          Disabled="@Disabled"
                          ReadOnly="@ReadOnly" />
            <MudTextField T="T"
                          Value="@Value.End"
                          ValueChanged="v => SetEndAsync(v, true)"
                          Disabled="@Disabled"
                          ReadOnly="@ReadOnly" />
        </div>
    }
</div>