@inherits MudBaseBindableItemsControl<MudItem, TData>
@typeparam TData


<div @ref="ElementReference" class="@GetCss()" style="@($"{GetStyle()}")">
    <div style="@($"gap:{Spacing}px; height: 100%; max-height: inherit; justify-content: {Justify.ToDescriptionString()}")" class="@($"mud-ex-cards mud-ex-cards-{_id}")">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        @if (ItemsSource?.Any() == true)
        {
            foreach (TData item in ItemsSource)
            {
                <MudExVirtualItem Virtualize="@Virtualize"
                                  Class="mud-ex-card">
                    @if (ItemTemplate != null)
                    {
                        @ItemTemplate(item)
                    }
                    else
                    {
                        <MudCard Style="height: 100%">
                        <MudCardHeader>
                            <p>@item?.ToString()</p>
                        </MudCardHeader>
                        </MudCard>
                    }
                </MudExVirtualItem>
            }
        }

    </div>
</div>
