@using MudBlazor.Extensions.Extensions
@using Nextended.Blazor.Extensions
@namespace MudBlazor.Extensions.Components
@inject Microsoft.Extensions.Localization.IStringLocalizer<MudExFileDisplayZip> _localizer
<style>
     /* TODO: Remove, but currently CSS Isolation not working in this project and I dont know why */
    .child-count-label {
        font-size: 7pt;
        margin-left: 5px;
        width: 15px;
        border: 1px solid var(--mud-palette-text-primary);
        height: 15px;
        border-radius: 50px;
        text-align: center;
        padding-left: 4px;
        padding-right: 4px;
    }

    .file-display-zip {
        padding: 10px;
        border: 1px dashed var(--mud-palette-primary);
        max-height: 90vh;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        overflow: auto;
    }

    .close-inner-preview {
        float: right;
        height: 25px;
        margin-top: -15px;
        margin-bottom: 15px;
        margin-right: -10px;
    }

    .size-display {
        font-style: italic;
        font-size: 8pt;
    }

    .tree-actions {
        margin-left: 20px;
    }
</style>


@if (_innerPreview != null)
{
    <div class="close-inner-preview">
        <MudTooltip Placement="Placement.Left" Delay="600" Color="Color.Primary" Text="@($"{_localizer["Close"]} ({_innerPreview.Name})")">
            <MudIconButton Style="float: right;" OnClick="@(ClosePreview)" Icon="@Icons.Filled.Close"></MudIconButton>
        </MudTooltip>
    </div>
    <MudExFileDisplay FileName="@_innerPreview.Name" ContentStream="@_innerPreviewStream" ContentType="@_innerPreview.ContentType" Url="@_innerPreviewUrl"></MudExFileDisplay>
}

else
{
    <div class="file-display-zip">
        @if (AllowToggleTree)
        {
            <MudToggleIconButton @bind-Toggled="@ShowAsTree"
                         Icon="@Icons.Material.Filled.Folder" Color="@Color.Info"
                         ToggledIcon="@Icons.Material.Filled.Folder" ToggledColor="@Color.Success"/>
            <span>@(!ShowAsTree ? _localizer["Show flat"] : _localizer["Show as Tree"])</span>
        }

        @if (ShowAsTree)
        {
            <MudTreeView Style="width: 100%" T="ZipStructure" Items="@_zipStructure">
                <ItemTemplate>
                    <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Children" Icon="@(context.BrowserFile?.GetIcon() ?? Icons.Filled.Folder)" Text="@context.Name" EndText="2" EndTextTypo="@Typo.caption">
                        <Content>
                            <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChildren" />
                            <MudIcon Icon="@(context.IsDirectory ? Icons.Filled.Folder : context.BrowserFile?.GetIcon())" Class="ml-0 mr-2" Color="@Color.Default" />
                            <MudText>
                                <p>
                                    @context.Name
                                    @if (context.IsDirectory)
                                    {
                                        <span class="child-count-label">@context.Children.Count</span>
                                    }
                                </p>
                  
                                <p class="size-display">@BrowserFileExtensions.GetReadableFileSize(context.Size, _localizer, true)</p>
                            </MudText>
                            
                            <span class="tree-actions">
                            @if (AllowDownload) {
                                    <MudTooltip Placement="Placement.Right" Delay="600" Color="Color.Primary" Text="@($"{_localizer["Download"]} ({context.Name})")">
                                        <MudMenu @ref="_downloadMenu" Style="margin-left: 10px; float: right;" Disabled="@context.IsDownloading" Icon="@(context.IsDownloading ? Icons.Material.Filled.Downloading : Icons.Material.Filled.Download)" Color="@ActionButtonColor" Size="Size.Medium" Dense="true" OffsetY="true">
                                            <MudListItem Text="@DownloadText(context, false)" Icon="@Icons.Material.Filled.FileDownload" OnClick="@(() => DownloadAsync(context, false))" />
                                            <MudListItem Text="@DownloadText(context, true)" Icon="@Icons.Material.Filled.Archive" OnClick="@(() => DownloadAsync(context, true))" />
                                        </MudMenu>
                                    </MudTooltip>
                            }
                            @if (!context.IsDirectory && AllowPreview) {
                                <MudIconButton OnClick="@(() => Preview(context.BrowserFile))" Style="margin-left: 5px; float: right;" Icon="@Icons.Material.Filled.ZoomIn" Color="@ActionButtonColor" Size="Size.Medium" />
                            }
                            </span>
                </Content>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
        }
        else
        {
            @foreach (var entry in _zipEntries.Where(file => !file.IsDirectory))
            {
                <MudItem xs="12">
                    <MudItem>
                        <MudAlert Icon="@entry.GetIcon()"
                      Class="mud-alert-message-w-100 mud-alert-message-mt-5">
                            @entry.FullName
                            <p class="size-display" style="width: 300px;">@entry.GetReadableFileSize(_localizer, true)</p>
                            <span style="float: right; margin-top: -35px;">
                                @if (AllowPreview)
                                {
                                    <MudTooltip Placement="Placement.Left" Delay="600" Color="Color.Primary" Text="@($"{_localizer["Preview"]} ({entry.Name})")">
                                        <MudIconButton OnClick="@(() => Preview(entry))" Icon="@Icons.Material.Filled.ZoomIn" Color="@ActionButtonColor" Size="Size.Medium"/>
                                    </MudTooltip>
                                }
                                @if (AllowDownload)
                                {
                                    <MudTooltip Placement="Placement.Left" Delay="600" Color="Color.Primary" Text="@($"{_localizer["Download"]} ({entry.Name})")">
                                        <MudIconButton OnClick="@(() => DownloadAsync(entry))" Icon="@(Icons.Material.Filled.Download)" Color="@ActionButtonColor" Size="Size.Medium"/>
                                    </MudTooltip>
                                }
                            </span>
                        </MudAlert>
                    </MudItem>
                </MudItem>
            }
        }
    </div>
}