@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.RenderTree
@using System.Text
@using System.Runtime.CompilerServices
@using System.Text.RegularExpressions
@inherits MudExBaseComponent<MudExCodeView>

@if (RenderChildContent && ChildContent != null && CodeViewModeWithRenderFragment == CodeViewModeWithRenderFragment.ExpansionPanel)
{
    <div class="@RenderFragmentClassname" style="@RenderFragmentStylename">
        @ChildContent
    </div>
}

@if (!string.IsNullOrEmpty(Code))
{
    @if (RenderChildContent && ChildContent != null)
    {
        if (CodeViewModeWithRenderFragment == CodeViewModeWithRenderFragment.ExpansionPanel)
        {
            <MudExpansionPanel IsExpandedChanged="OnExpandedChanged" IsInitiallyExpanded="@CodeIsExpanded" Text="@(_isExpanded ? ExpandedText : CollapsedText)">
                @CodeView()
            </MudExpansionPanel>
        }
        else
        {

            <MudExSplitPanel Style="@Stylename" Class="@Classname" IsInitiallyCollapsed="false" IsCollapsible="false" Splittable="true" Reverse="@(CodeViewModeWithRenderFragment is CodeViewModeWithRenderFragment.CodeDockedTop or CodeViewModeWithRenderFragment.CodeDockedRight)" ColumnLayout="@(CodeViewModeWithRenderFragment is CodeViewModeWithRenderFragment.CodeDockedLeft or CodeViewModeWithRenderFragment.CodeDockedRight)">
                <Left>
                    <MudExSplitPanelItem Style="@($"min-width: {DockedMinWidthLeft}; height:auto; min-height: {DockedMinHeightLeft};")">
                        @CodeView()
                    </MudExSplitPanelItem>
                </Left>
                <Right>
                    <MudExSplitPanelItem Style="@($"min-width: {DockedMinWidthRight}; min-height: {DockedMinHeightRight};")">
                        <div class="@RenderFragmentClassname" style="@RenderFragmentStylename">
                            @ChildContent
                        </div>
                    </MudExSplitPanelItem>
                </Right>
            </MudExSplitPanel>
        }
    }
    else
    {
        @CodeView()
    }
}

@code
{
    protected RenderFragment CodeView()
    {
        return 
            @<div style="@CodeViewStylename" class="@CodeViewClassname">
                @if (_jsReady)
                {
                    <MudMarkdown CodeBlockTheme="@Theme" Value="@(_markdownCode)"></MudMarkdown>
                }
            </div>;
    }
}