@inherits MudBaseBindableItemsControl<MudItem, TData>
@using Microsoft.AspNetCore.Components.Rendering
@using Nextended.Core.Extensions
@typeparam TData


<div @ref="ElementReference" class="@GetCss()" style="@($"{GetStyle()}")">
    <div style="@($"gap:{Spacing}px; justify-content: {Justify.ToDescriptionString()}")" class="@($"mud-ex-cards mud-ex-cards-{_id}")">
        @if (ItemsSource == null)
        {
            @ChildContent
        }
        else
        {
            foreach (TData item in ItemsSource)
            {
                <div class="mud-ex-card">
                    @ItemTemplate(item)
                </div>
            }
        }
        
    </div>
</div>
