@using BlazorJS.Attributes
@using Newtonsoft.Json
@inherits MudExBaseComponent<MudExGridSection>
<div @ref="ElementReference"
     data-id="@Id"
     data-options="@JsonConvert.SerializeObject(this.AsJsObject())"
     @attributes="UserAttributes"
     class="@GetClass()" style="@GetStyle()"
     @onclick="OnClickHandler"
     @ondblclick="@OnDblClickHandler"
     @onclick:stopPropagation="OnClickStopPropagation"
     @oncontextmenu="OnContextMenu"
     @oncontextmenu:preventDefault="OnContextMenuPreventDefault"
     @oncontextmenu:stopPropagation="OnContextMenuStopPropagation">
    @if (WrapInGroupBox)
    {
        <MudExGroupBox Text="@Title">
            @Child()
        </MudExGroupBox>
    }
    else
    {
        @Child()
    }
</div>

@code {

    private RenderFragment Child()
    {
        return @<RenderChild>
                   @if (Resizable)
                   {
                       <div class="mud-ex-grid-section-handle mud-ex-grid-handle-se" @ref="HandleSE"></div>
                       <div class="mud-ex-grid-section-handle mud-ex-grid-handle-e" @ref="HandleE"></div>
                       <div class="mud-ex-grid-section-handle mud-ex-grid-handle-s" @ref="HandleS"></div>
                   }
                   @ChildContent
        </RenderChild>;
    }

}