@using System.IO
@using Microsoft.AspNetCore.Components.Rendering
@using MudBlazor.Extensions.Extensions
@using MudBlazor.Extensions.Helper
@namespace MudBlazor.Extensions.Components

<BrowserDetect @bind-BrowserInfo="@Info" />

<div class="mud-ex-file-display-container">

    <MoveContent ElementSelector="@($".mud-ex-file-display-toolbar-{ElementId}")">
        <Found>
            @RenderMenu
        </Found>
        <NotFound>
            <MudToolBar Class="@($"mud-ex-file-display-toolbar mud-ex-file-display-toolbar-{ElementId}")" Dense="true">
                @RenderMenu
            </MudToolBar>
        </NotFound>
    </MoveContent>


    @if (_componentForFile.ControlType != null)
    {
        _isNativeRendered = false;
        @if (_componentForFile.ShouldAddDiv)
        {
            <div class="mud-ex-file-display">
                <DynamicComponent Type="@_componentForFile.ControlType" Parameters="@_componentForFile.Parameters" />
            </div>
        }
        else
        {
            <DynamicComponent Type="@_componentForFile.ControlType" Parameters="@_componentForFile.Parameters" />
        }
    }
    else
    {
        _isNativeRendered = true;
        <div class="mud-ex-file-display">
            <MudElement UserAttributes="@renderInfos.attributes" HtmlTag="@renderInfos.tag" />
        </div>
    }

    @if (ShowContentError)
    {
        <div id="content-type-display-error">
            <MudAlert Class="mud-alert-close-no-flex" Severity="Severity.Error" Variant="Variant.Outlined" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="CloseContentError">
                <p>
                    @if (!string.IsNullOrWhiteSpace(CustomContentErrorMessage))
                    {
                        @CustomContentErrorMessage
                    }
                    else
                    {
                        @_localizer.TryLocalize("The content type {0} cannot be displayed without a suitable plugin", ContentType)
                    }
                </p>

                @if (PossiblePlugin != null)
                {
                    <MudButton HtmlTag="label"
                       Class="w-100 my-4"
                       Variant="Variant.Text"
                       Color="Color.Primary"
                       Size="Size.Small"
                       Href="@PossiblePlugin.Url"
                       Target="_blank"
                       StartIcon="@(Icons.TwoTone.Shop)">
                        @(_localizer.TryLocalize("The Plugin '{0}' may be able to help", PossiblePlugin.Name))
                    </MudButton>
                }
            </MudAlert>
        </div>
    }
</div>

@code {
    
    private void RenderMenu(RenderTreeBuilder __builder)
    {
        @if (!string.IsNullOrEmpty(FileName))
        {
            <MudSpacer />
            <MudMenu AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight" Dense="true" Size="Size.Medium" Icon="@SvgIconHelper.CombineIconsHorizontal(Icons.Material.Filled.MoreVert, BrowserFileExt.IconForFile(ContentType))">
                <div class="mud-ex-file-display-menu-header">
                    <MudIcon Icon="@BrowserFileExt.IconForFile(ContentType)"></MudIcon>
                    <MudText Class="mud-ex-file-display-toolbar-text">@FileName</MudText>
                </div>
                @foreach (var c in _possibleRenderControls.Where(c => c.GetType() != _componentForFile.ControlType))
                {
                    <MudMenuItem Class="mud-ex-file-display-menu-item-action" OnClick="@(() => RenderWith(c))" IconSize="Size.Small" Icon="@Icons.Material.Filled.Extension">@($"{_localizer.TryLocalize("Render with {0}", c.Name ?? c.GetType().Name)}")</MudMenuItem>
                }
                @if (!_isNativeRendered)
                {
                    <MudMenuItem Class="mud-ex-file-display-menu-item-action" OnClick="@(() => RenderWith(null))" IconSize="Size.Small" Icon="@Icons.Material.Filled.ExtensionOff">@($"{_localizer.TryLocalize("Render with native control")}")</MudMenuItem>
                }
                @if (AllowDownload)
                {
                    <MudMenuItem Class="mud-ex-file-display-menu-item-action" OnClick="@(Download)" Icon="@Icons.Material.Filled.Download">@($"{_localizer.TryLocalize("Download")}")</MudMenuItem>
                }
                @if (CanClose)
                {
                    <MudMenuItem Class="mud-ex-file-display-menu-item-action" OnClick="@(OnCloseClick)" Icon="@Icons.Material.Filled.Close">@($"{_localizer.TryLocalize("Close")}")</MudMenuItem>
                }
            </MudMenu>
        }
    }
}
