@inherits MudExBaseComponent<MudExAdditionalAdornment>

@if (For is not null)
{
    <div class="@_cls">
        @For
        @Render()
    </div>
}
else
{
    @Render()
}

@code
{
    RenderFragment Render()
    {
        return @<MoveContent Style="display: flex; align-items: center;" QueryFromParent="@(For is null ? _parentOwnerCountForUsingAsChildContent : false)" Position="@Position" ElementSelector="@Selectors">
        <Found>
            @ChildContent
        </Found>
        <NotFound>
            @ChildContent
        </NotFound>
    </MoveContent>;
    }
}
