@inherits MudExJsRequiredBaseComponent<MudExRangeSlider<T>>
@using MudBlazor.Extensions.Helper
@using Nextended.Core.Helper
@typeparam T

<div @ref="ElementReference"
     class="mud-ex-range-slider @SizeClass @(Orientation.ToDescriptionString()) @Class"
     style="@Style"
     role="group"
     aria-roledescription="range"
     aria-disabled="@Disabled"
     aria-readonly="@ReadOnly">

    <div class="mud-ex-range-slider-track @(HasTrackTemplate ? "mud-ex-has-template" : "")"
         @ref="_trackRef"
         style="@TrackStyle"
         @onpointerdown="OnTrackPointerDown">

        @if (HasTrackTemplate)
        {
            <div class="mud-ex-range-slider-track-template">
                @TrackTemplate(GetContext())
            </div>
        }

        <div class="mud-ex-range-slider-selection @(HasSelectionTemplate ? "mud-ex-has-template" : "")"
             style="@(MudExStyleBuilder.Default.WithCursor(_dragMode == DragMode.WholeRange ? MovingCursor :MoveCursor).Style)"
             @onpointerdown="OnRangeDragPointerDown">
            @if (HasSelectionTemplate)
            {
                <div class="mud-ex-range-slider-selection-template">
                    @SelectionTemplate(GetContext())
                </div>
            }
        </div>

        @if (HasThumbStartTemplate)
        {
            <div class="mud-ex-range-slider-thumb start mud-ex-has-template"
                 style="@ThumbStyle()"
                 id="@_startId"
                 tabindex="@(Disabled ? -1 : 0)"
                 @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.Start)"
                 @onkeydown="e => OnKeyDownAsync(e, Thumb.Start)"
                 role="slider"
                 aria-valuemin="@SizeRangeStringStart"
                 aria-valuemax="@SizeRangeStringEnd"
                 aria-valuenow="@StartString"
                 aria-labelledby="@AriaLabelledBy"
                 aria-disabled="@Disabled">
                <div class="mud-ex-range-slider-thumb-template">
                    @ThumbStartTemplate(GetThumbContext(Thumb.Start))
                </div>
            </div>
        }
        else
        {
            <button class="mud-ex-range-slider-thumb start"
                    id="@_startId"
                    style="@ThumbStyle()"
                    type="button"
                    @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.Start)"
                    @onkeydown="e => OnKeyDownAsync(e, Thumb.Start)"
                    role="slider"
                    aria-valuemin="@SizeRangeStringStart"
                    aria-valuemax="@SizeRangeStringEnd"
                    aria-valuenow="@StartString"
                    aria-labelledby="@AriaLabelledBy"
                    disabled="@Disabled" />
        }

        @if (HasThumbEndTemplate)
        {
            <div class="mud-ex-range-slider-thumb end mud-ex-has-template"
                 id="@_endId"
                 style="@ThumbStyle()"
                 tabindex="@(Disabled ? -1 : 0)"
                 @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.End)"
                 @onkeydown="e => OnKeyDownAsync(e, Thumb.End)"
                 role="slider"
                 aria-valuemin="@SizeRangeStringStart"
                 aria-valuemax="@SizeRangeStringEnd"
                 aria-valuenow="@EndString"
                 aria-labelledby="@AriaLabelledBy"
                 aria-disabled="@Disabled">
                <div class="mud-ex-range-slider-thumb-template">
                    @ThumbEndTemplate(GetThumbContext(Thumb.End))
                </div>
            </div>
        }
        else
        {
            <button class="mud-ex-range-slider-thumb end"
                    id="@_endId"
                    style="@ThumbStyle()"
                    type="button"
                    @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.End)"
                    @onkeydown="e => OnKeyDownAsync(e, Thumb.End)"
                    role="slider"
                    aria-valuemin="@SizeRangeStringStart"
                    aria-valuemax="@SizeRangeStringEnd"
                    aria-valuenow="@EndString"
                    aria-labelledby="@AriaLabelledBy"
                    disabled="@Disabled" />
        }
    </div>

    @if (ShowInputs)
    {
        <div class="mud-ex-range-slider-inputs">
            <MudTextField T="T"
                          Value="@Value.Start"
                          ValueChanged="v => SetStartAsync(v, true)"
                          Disabled="@Disabled"
                          ReadOnly="@ReadOnly" />
            <MudTextField T="T"
                          Value="@Value.End"
                          ValueChanged="v => SetEndAsync(v, true)"
                          Disabled="@Disabled"
                          ReadOnly="@ReadOnly" />
        </div>
    }
</div>