@inherits MudBaseBindableItemsControl<MudItem, TData>
@typeparam TData


<div @ref="ElementReference" class="@GetCss()" style="@($"{GetStyle()}")">
    <div style="@($"gap:{Spacing}px; height: 100%; max-height: inherit; justify-content: {Justify.ToDescriptionString()}")" class="@($"mud-ex-cards mud-ex-cards-{_id}")">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        @if (ItemTemplate != null && ItemsSource?.Any() == true)
        {
            foreach (TData item in ItemsSource)
            {
                <MudExVirtualItem Virtualize="@Virtualize"
                                  Class="mud-ex-card-parent skip-card-check">
                    @ItemTemplate(item)
                </MudExVirtualItem>
            }
        }

    </div>
</div>
