@inherits MudExBaseComponent<MudExSplitPanel>

<MudGrid Class="@($"mud-ex-split-panel-grid {Class}")" Style="@($"{Style}")">
    <div class="mud-ex-split-panel" style="@GetStyle()">
        @if (Left != null)
        {
            <CascadingValue Value="this">
                @Left
            </CascadingValue>

            @if (IsCollapsible)
            {
                <div class="mud-ex-splitter-internal mud-ex-centered-content">
                    <MudToggleIconButton Toggled="@_isCollapsed"
                                         ToggledChanged="@ToggleCollapsed"
                                         Class="mud-ex-splitter-internal" Icon="@(ColumnLayout ? (Reverse ? IconLeft: IconRight) : (Reverse ? IconUp : IconDown))" ToggledIcon="@(ColumnLayout ? (Reverse ? IconRight: IconLeft) : (Reverse ? IconDown : IconUp))"></MudToggleIconButton>
                </div>
            }

        }
        @if (Splittable && Left != null && Right != null && !AnythingCollapsed())
        {
            <MudExSplitter @ref="_splitter" Vertical="@ColumnLayout" UseBorder="true" Reverse="@Reverse" Color="@SplitterColor" Size="@SplitterSize" FlexItem="true" UpdateSizesInPercentage="@UpdateSizesInPercentage" />
            @*<DynamicComponent Type="@typeof(MudExSplitter)" Parameters="@(new Dictionary<string, object> {{nameof(MudExSplitter.Vertical), ColumnLayout},{nameof(MudExSplitter.Reverse), Reverse}, {nameof(MudExSplitter.FlexItem), true}, {nameof(MudExSplitter.UpdateSizesInPercentage), UpdateSizesInPercentage} })"></DynamicComponent>*@
        }
        @if (Right != null)
        {
            <CascadingValue Value="this">
                @if (_isCollapsed)
                {
                    <MudExSlideBar Size="@_rightSize" DisableOpacityChange="true" BorderSize="@SplitterSize" BorderColor="@SplitterColor" RelativeToParent="true"
                                   SelectorsToKeepOpenOnMouseLeave="@(new[] {".mud-popover-open", ".mud-dialog", ".mud-picker-open"})"
                                   Position="@(ColumnLayout ? (Reverse ? Position.Left : Position.Right) : (Reverse ? Position.Top : Position.Bottom))">
                        <div class="mud-ex-splitter-collapsed-slide-bar-content-v">
                            @Right
                        </div>
                    </MudExSlideBar>
                }
                else
                {
                    @Right
                }
            </CascadingValue>
        }
    </div>
</MudGrid>
