@inherits MudExBaseComponent<MudExSplitPanel>

<MudGrid Class="@($"mud-ex-split-panel-grid {Class}")" Style="@($"{Style}")">
    <div class="mud-ex-split-panel" style="@GetStyle()">
        @if (Left != null)
        {
            <CascadingValue Value="this">
                @Left
            </CascadingValue>
        }
        @if (Splittable && Left != null && Right != null)
        {
            @*<MudExDivider Size="5" Color="Color.Primary" Vertical="@ColumnLayout" />*@
            <MudExSplitter Size="5" Color="Color.Primary" Vertical="@ColumnLayout" />
            <MudExSplitter Reverse="@Reverse" UpdateSizesInPercentage="@UpdateSizesInPercentage" Vertical="@ColumnLayout" FlexItem="true" />
        }
        @if (Right != null)
        {
            <CascadingValue Value="this">
                @Right
            </CascadingValue>
        }
    </div>
</MudGrid>