@namespace MudBlazor.Extensions.Components
@using MudBlazor.Extensions.Helper
@inherits MudExBaseComponent<MudExMessageDialog>

<MudDialog Style="@Style" Class="@($"{MudExCss.Classes.Dialog._Initial} {Class}")" ContentClass="@ContentClass"
ActionsClass="@ClassActions"                      
ContentStyle="@ContentStyle">
    <TitleContent>
        @if (ShowProgress)
        {
            <MudProgressLinear Class="mud-ex-dialog-header-progress" Max="@ProgressMax" Min="@ProgressMin" Color="Color.Primary" Value="@ProgressValue" Indeterminate="@(ProgressValue <= ProgressMin || ProgressValue > ProgressMax)" />
        }
        <MudText Typo="Typo.h6">
            <MudExIcon Color="@IconColor" Icon="@Icon" Class="mr-3 mb-n1" />
            @TryLocalize(MudDialog.Title)
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (!string.IsNullOrEmpty(Message))
        {
            <MudText>@TryLocalize(Message)</MudText>
        }
        @if (Content != null)
        {
            if(ShouldRenderContent){
                @Content
            }else
            {
                <div style="height: 100%; width: 100%; display: flex">
                    <MudProgressCircular Style="align-self: center; justify-self: center; margin-left: 50%;" Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
                </div>
            }
        }
    </DialogContent>
    <DialogActions>
        @if (Buttons?.Any() == true)
        {
            foreach (var action in Buttons)
            {
                <MudExDialogActionButton OnClick="@(() => Submit(action.Result))"
                    @ref="action.RenderedReference" Label="@TryLocalize(action.Label)" Action="@action" />
            }
        }
        else if (!AllowEmptyActions)
        {
            <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Cancel">@TryLocalize("Close")</MudButton>
        }
    </DialogActions>
</MudDialog>

