@inherits MudBaseBindableItemsControl<MudItem, TData>
@using Microsoft.AspNetCore.Components.Rendering
@using Nextended.Core.Extensions
@typeparam TData

<MudSlider @bind-Value="spacing" Min="0" Max="100" Color="Color.Info" Class="mb-6">Spacing: @spacing.ToString()</MudSlider>

<div class="@GetCss()" style="@($"justify-content:{Justify.ToDescriptionString()}")">
    <div style="@($"gap:{spacing}px")" class="mud-ex-cards">
        @if (ItemsSource == null)
        {
            @ChildContent
        }
        else
        {
            foreach (TData item in ItemsSource)
            {
                <div class="mud-ex-card">
                    @ItemTemplate(item)
                </div>
            }
        }
        
    </div>
</div>



@code
{
    public Justify Justify { get; set; } = Justify.Center;
    public int spacing { get; set; } = 15;

}