@inherits MudExBaseComponent<MudExCodeView>

@if (RenderChildContent && ChildContent != null && CodeViewModeWithRenderFragment == CodeViewModeWithRenderFragment.ExpansionPanel)
{
    <div class="@RenderFragmentClassname" style="@RenderFragmentStyleStr">
        @ChildContent
    </div>
}

@if (!string.IsNullOrEmpty(Code))
{
    @if (RenderChildContent && ChildContent != null)
    {
        if (CodeViewModeWithRenderFragment == CodeViewModeWithRenderFragment.ExpansionPanel)
        {
            <MudExpansionPanel ExpandedChanged="OnExpandedChanged" Expanded="@CodeIsExpanded" Text="@(_isExpanded ? ExpandedText : CollapsedText)">
                @CodeView()
            </MudExpansionPanel>
        }
        else
        {

            <MudExSplitPanel Style="@StyleStr" Class="@Classname" IsInitiallyCollapsed="false" IsCollapsible="false" Splittable="true" Reverse="@(CodeViewModeWithRenderFragment is CodeViewModeWithRenderFragment.CodeDockedTop or CodeViewModeWithRenderFragment.CodeDockedRight)" ColumnLayout="@(CodeViewModeWithRenderFragment is CodeViewModeWithRenderFragment.CodeDockedLeft or CodeViewModeWithRenderFragment.CodeDockedRight)">
                <Left>
                    <MudExSplitPanelItem Style="@($"min-width: {DockedMinWidthLeft}; height:auto; min-height: {DockedMinHeightLeft};")">
                        @CodeView()
                    </MudExSplitPanelItem>
                </Left>
                <Right>
                    <MudExSplitPanelItem Style="@($"min-width: {DockedMinWidthRight}; min-height: {DockedMinHeightRight};")">
                        <div class="@RenderFragmentClassname" style="@RenderFragmentStyleStr">
                            @ChildContent
                        </div>
                    </MudExSplitPanelItem>
                </Right>
            </MudExSplitPanel>
        }
    }
    else
    {
        @CodeView()
    }
}

@code
{
    protected RenderFragment CodeView()
    {
        return 
            @<div id="@_elementId" @ref="_element" style="@CodeViewStyleStr" class="@CodeViewClassname">
                <MudExMarkdown CodeBlockTheme="@Theme" Value="@(_markdownCode)"></MudExMarkdown>
            </div>;
    }
}