
@inherits MudExJsRequiredBaseComponent<MudExRangeSlider<T>>
@typeparam T

<div @ref="ElementReference"
     class="mud-ex-range-slider @Class"
     style="@Style"
     role="group"
     aria-roledescription="range"
     aria-disabled="@Disabled">

    <div class="mud-ex-range-slider-track @ColorClass"
         @ref="_trackRef"
         style="--p-start:@_startPct; --p-end:@_endPct;"
         @onpointerdown="OnTrackPointerDown">

        <div class="mud-ex-range-slider-selection"
             @onpointerdown="OnRangeDragPointerDown"></div>

        <button class="mud-ex-range-slider-thumb start"
                id="@_startId"
                type="button"
                @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.Start)"
                @onkeydown="e => OnKeyDownAsync(e, Thumb.Start)"
                role="slider"
                aria-valuemin="@MinString"
                aria-valuemax="@MaxString"
                aria-valuenow="@StartString"
                aria-labelledby="@AriaLabelledBy"
                disabled="@Disabled" />

        <button class="mud-ex-range-slider-thumb end"
                id="@_endId"
                type="button"
                @onpointerdown="e => OnThumbPointerDownAsync(e, Thumb.End)"
                @onkeydown="e => OnKeyDownAsync(e, Thumb.End)"
                role="slider"
                aria-valuemin="@MinString"
                aria-valuemax="@MaxString"
                aria-valuenow="@EndString"
                aria-labelledby="@AriaLabelledBy"
                disabled="@Disabled" />
    </div>

    @if (ShowInputs)
    {
        <div class="mud-ex-range-slider-inputs">
            <MudTextField T="T" Value="@Value.Start" ValueChanged="v => SetStartAsync(v, true)" Disabled="@Disabled" />
            <MudTextField T="T" Value="@Value.End" ValueChanged="v => SetEndAsync(v, true)" Disabled="@Disabled" />
        </div>
    }
</div>