@inherits MudExBaseComponent<MudExSplitPanel>

<MudGrid Class="@($"mud-ex-split-panel-grid {Class}")" Style="@($"{Style}")">
    <div class="mud-ex-split-panel" style="@GetStyle()">
        @if (Left != null)
        {
            <CascadingValue Value="this">
                @Left
            </CascadingValue>
        }
        @if (Splittable && Left != null && Right != null)
        {
            @*Using MudExSplitter doesnt work nobody knows why so we go for DynamicComponent here*@
            @*<MudExSplitter Vertical="@ColumnLayout" Reverse="@Reverse" FlexItem="true" UpdateSizesInPercentage="@UpdateSizesInPercentage" />*@
            <DynamicComponent Type="@typeof(MudExSplitter)" Parameters="@(new Dictionary<string, object> {
                                                                            {nameof(MudExSplitter.Vertical), ColumnLayout},
                                                                            {nameof(MudExSplitter.Reverse), Reverse},
                                                                            {nameof(MudExSplitter.FlexItem), true},
                                                                            {nameof(MudExSplitter.UpdateSizesInPercentage), UpdateSizesInPercentage}
                                                                        })">
            </DynamicComponent>
        }
        @if (Right != null)
        {
            <CascadingValue Value="this">
                @Right
            </CascadingValue>
        }
    </div>
</MudGrid>