@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.RenderTree
@using System.Text
@using System.Runtime.CompilerServices
@using System.Text.RegularExpressions
@inherits MudExBaseComponent<MudExCodeView>

<Scripts SourceLoaded="@OnSourceLoaded"
         UnloadOnDispose="false"
         SourceLoadBehaviour="LoadBehaviour.OnInitializedAsync"
         Src="_content/MudBlazor.Markdown/MudBlazor.Markdown.min.js,_content/MudBlazor.Markdown/MudBlazor.Markdown.min.css" />

@if (RenderChildContent && ChildContent != null)
{
    @ChildContent
}

@if (!string.IsNullOrEmpty(Code))
{
    @if (RenderChildContent && ChildContent != null)
    {
        <MudExpansionPanel @bind-IsExpanded="CodeIsExpanded" Text="@(CodeIsExpanded ? ExpandedText : CollapsedText)">
            <div style="@Stylename" class="@Classname">
                @if (_requiredJsLoaded)
                {
                    <MudMarkdown CodeBlockTheme="@Theme" Value="@(_markdownCode)"></MudMarkdown>
                }
            </div>
        </MudExpansionPanel>
    }
    else
    {
        <div style="@Stylename" class="@Classname">
            @if(_requiredJsLoaded){
                <MudMarkdown CodeBlockTheme="Theme" Value="@(_markdownCode)"></MudMarkdown>
            }
        </div>
    }
}
