@inherits MudExJsRequiredBaseComponent<MudExImageViewer>
@namespace MudBlazor.Extensions.Components


<div style="@StyleStr()">
    @if (ShowTools)
    {
        <MudToolBar Style="@ToolbarStyleStr()" Dense="@Dense">
            <MudIconButton Color="@ToolbarButtonColor" OnClick="@ZoomInClick" Icon="@Icons.Material.Outlined.ZoomIn"/>
            <MudIconButton Color="@ToolbarButtonColor" OnClick="@ZoomOutClick" Icon="@Icons.Material.Outlined.ZoomOut"/>
            <MudIconButton Color="@ToolbarButtonColor" OnClick="@ResetClick" Icon="@Icons.Material.Outlined.Undo"/>
            <MudIconButton Color="@ToolbarButtonColor" OnClick="@FullscreenClick" Icon="@Icons.Material.Outlined.Fullscreen"/>
        </MudToolBar>
    }


    <div @ref=ElementReference id="@_id" style="width: 100%; height: 100%">
    </div>

</div>
